[Unit]
Description=Send snapshots to prusaconnect
After=network.target

[Service]
ExecStart=/home/gaugendre/printer-raspberry-pi/prusaconnect
WorkingDirectory=/home/gaugendre/printer-raspberry-pi
Type=exec
Restart=always
User=gaugendre
Group=gaugendre

[Install]
WantedBy=default.target
RequiredBy=network.target
